@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-image : url(img/cafe.jpg);
  background-attachment: fixed;
  margin-top: 0px;
  margin-left: 10px
}
/*ヘッダー*/
li {
  list-style-type: none;
  flex: 1;
}
ul {
  margin-left: 10px;
  padding-top: 7px;

}
.head {
  display: flex;
}
a {
  color: white;
}
.head_a {
  text-decoration: none;
  font-size: 20px;
}
.welcome {
  color: white;
  margin-left: 8px;
  text-align: right;
}
h1 {
  margin-top: 90px;
  margin-bottom: 8px;
  font-size: 40px;
  color: white;
}
.error {
  color: orange;
}
p {
  color: white;
  margin-bottom: 5px;
}
/* ヘッダーの固定 */
div#header-fixed
{
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
}
div#header-bk {
  background-color: rgba(0,0,0,0.5);
  margin-top: 0px;
	padding:5px 0 20px;       /* 上10px、下20pxをあける */
	width:100%;                 /* 横の幅を100% */
}
div#header {
  height: 100%;              /* 縦の表示領域はheader-bkと同じ */
	width: 1100px;              /* 横の幅970px */
  height: 55px;
  margin-left: auto;
  margin-right: auto;
}
/*コメント部分*/
.comments {
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 0px;
}
.comments_list {
  border-top: 1px dotted gray;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
h2 {
  margin-top: 5px;
  font-size: 25px;
}
article {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.article2 {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.7);
}
input[type="button"] {
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 130px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
}
